<?xml version="1.0"?>
<robot name="airavat1.0" xmlns:xacro="https://www.ros.org/wiki/xacro">

  <!-- LiDAR properties -->
  <xacro:property name="lidar_diameter" value="0.06" />
  <xacro:property name="lidar_height" value="0.016" />
  <xacro:property name="lidar_mass" value="0.075" />

  <xacro:property name="lidar_base_diameter" value="0.072" />
  <xacro:property name="lidar_base_height" value="0.05" />
  <xacro:property name="lidar_base_mass" value="0.050" />

  <link name="lidar_base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${lidar_base_diameter/2}" length="${lidar_base_height}" />
      </geometry>
      <material name="gray">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${lidar_base_diameter/2}" length="${lidar_base_height}" />
      </geometry>
    </collision>
    <xacro:wheel_inertia m="${lidar_base_mass}" rad="${lidar_base_diameter/2}" length="${lidar_base_height}" o_xyz="0 0 0" o_rpy="0 0 0" />
  </link>

  <joint name="base_lidar_base_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_base" />
    <origin xyz="0 0 ${ch_height/2 + lidar_base_height/2}" rpy="0 0 0" />
  </joint>

  <!-- LiDAR Link -->
  <link name="lidar_link">
    <visual>
      <geometry>
        <cylinder radius="${lidar_diameter/2}" length="${lidar_height}"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${lidar_diameter/2}" length="${lidar_height}"/>
      </geometry>
    </collision>
    <xacro:wheel_inertia m="${lidar_mass}" rad="${lidar_diameter/2}" length="${lidar_height}" o_xyz="0 0 0" o_rpy="0 0 0" />
  </link>

  <!-- LiDAR Joint -->
  <joint name="lidar_joint" type="fixed">
    <parent link="lidar_base" />
    <child link="lidar_link" />
    <origin xyz="0 0 ${lidar_base_height/2 + lidar_height/2}" rpy="0 0 0" />
  </joint>

  <!-- LiDAR Sensor -->
  <gazebo reference="lidar_link">
    <sensor name="gpu_lidar" type="gpu_lidar">
      <always_on>1</always_on>
      <update_rate>2</update_rate>
      <visualize>true</visualize>
      <frame_id>lidar_link</frame_id>
      <topic>lidar</topic>
      <ray>
        <scan>
          <horizontal>
            <samples>180</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>0.01</resolution>
            <min_angle>0</min_angle>
            <max_angle>0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.1</min>
          <max>5.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
    </sensor>
  </gazebo>

</robot>